
  <footer class="footer">
    <div class="n_devis">
      <div class="info_devis">
        <h4>Organisez votre voyage, 
          sortie scolaire ou excursion sportive 
          et culturelle avec les Cars de KamExpress
        </h4>
      </div>
     
      <div class="d_devis">
         <a href="/contact">Demande de devis</a>
      </div>
      <img src="/images/imgs/mgP4.jpeg" alt="">
  </div>
    <div class="footer-info_1">
      <span>Notre Newsletter</span><br /><br />
      <p>Suivez nous et soyez informé de nos évolutions</p>
      <input
        type="email" name="email" id="email" class="email-place" placeholder="Votre Email"  />
      <button class="abnez">Abonnez-vous!</button>
    </div>
    <br />
    <div class="footer-info_2">
      <div class="foot-apropos">
        <span>Apropos</span><br /><br />
        <p>Concept</p>
        <br />
        <p>Qui sommes nous ?</p>
       
      </div>
      <div class="foot-ncontact">
        <span>Nous contacter</span><br /><br />
        <p>Cel:(+225) 05 55 68 01 77</p>
        <br />
        <a href="mailto:kouammathurinyao@gmail.com">kouammathurinyao@gmail.com</a>
        <p></p>
        <br />
        <p>Angre Chateau, Abidjan, côte d'ivoire</p>
      </div>
      <div class="foot-nSuivre">
        <span>Nous Suivre</span><br /><br />
        <img
          src="./Ressources/header/imgHeader/iconTwiter.jpeg"
          width="50px"
          alt=""
        />
        <img
          src="./Ressources/header/imgHeader/bfbf.jpeg"
          width="40px"
          alt=""
        />
        <img
          src="./Ressources/header/imgHeader/iconLink.jpeg"
          width="40px"
          alt=""
        />
      </div>
    </div>
    <div class="footer-info_3">
      <p>Tous droits réservés © 2023 -kamexpress</p>
    </div>
  </footer>