<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apropos</title>
    <link href="/assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/styles_personalises/headers.css" rel="stylesheet">
    <link href="/assets/styles_personalises/footer.css" rel="stylesheet">
    <link href="/assets/bootstrap/dist/css/apropos.css" rel="stylesheet" >
</head>
<body>
    <%- include("../partials/header.ejs") %>
    <main>
        <div class="contain_apropos">
            <img src="/images/imgs/carB.jpeg" alt="">
            <div class="title_apropos">
                <h4> Qui sommes-nous ?</h4>
            </div>
        </div>
   <section class="n_Objectif"  id="about">
    <div class="notifications-container">
        <div class="success">
          <div class="flex">
            <div class="flex-shrink-0">
              
              <svg class="succes-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
              </svg>
            </div>
            <div class="success-prompt-wrap">
              <p class="success-prompt-heading">Notre FLOTTE</p><div class="success-prompt-prompt">
                <p>Nous disposons d'une flotte diversifiée de véhicules comprenant à la fois des bus de luxe et des minibus. Nos bus de luxe offrent un confort exceptionnel avec des sièges spacieux, un système audio de qualité, la climatisation et des équipements modernes. Nos minibus sont parfaits pour les petits groupes, offrant une option plus compacte et pratique tout en garantissant le confort et la sécurité.</p>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="notifications-container">
        <div class="success">
          <div class="flex">
            <div class="flex-shrink-0">
              
              <svg class="succes-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
              </svg>
            </div>
            <div class="success-prompt-wrap">
              <p class="success-prompt-heading">Engagement envers la qualité et la sécurité</p><div class="success-prompt-prompt">
              <p>Nous sommes engagés à fournir des services de qualité supérieure à nos clients. Tous nos véhicules sont régulièrement entretenus et respectent les normes de sécurité les plus strictes. Nos conducteurs sont des professionnels expérimentés, formés pour assurer un voyage sûr et agréable à nos clients.</p>
            </p>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="notifications-container">
        <div class="success">
          <div class="flex">
            <div class="flex-shrink-0">
              
              <svg class="succes-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
              </svg>
            </div>
            <div class="success-prompt-wrap">
              <p class="success-prompt-heading">Notre équipe</p><div class="success-prompt-prompt">
                <p>Nous avons une équipe dédiée et passionnée qui travaille sans relâche pour offrir une expérience exceptionnelle à nos clients. Nos chauffeurs sont courtois, serviables et connaissent bien les itinéraires. Notre personnel administratif est toujours disponible pour répondre à toutes vos questions et vous assister dans vos réservations.</p>
            </div>
            </div>
          </div>
        </div>
      </div>
     </section>


  

    </main>
    
    <%- include("../partials/footer.ejs") %>
    <script src="/assets/bootstrap/dist/js/header.js"></script>
    <script src="/assets/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/hover.js"></script>

</body>
</html>