<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  href="/assets/bootstrap/dist/css/dasbord.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
 

  <header>
    <h1>Tableau de bord - Location de cars et minibus</h1>
  </header>

  <section id="dashboard">
    <h2>Inscriptions</h2>
    <table>
        <thead>
          <tr>
            <th>Nom</th>
            <th>Email</th>
            <th>Téléphone</th>
            <th>Nombre de personnes</th>
            <th>Date de location</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <!-- Les données des personnes inscrites seront ajoutées ici dynamiquement avec JavaScript -->
        </tbody>
      </table>
  </section>

  <script src="/assets/bootstrap/dist/js/dashbord.js"></script>
</body>
</html>