<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarifs</title>
    <link href="/assets/styles_personalises/headers.css" rel="stylesheet">
    <link href="/assets/styles_personalises/footer.css" rel="stylesheet">
    <link href="/assets/bootstrap/dist/css/tarifs.css" rel="stylesheet">
</head>
<body>
  <%- include("../views/patials/header.ejs") %>
<main>
    <div class="head-tarif">
        <img src="/images/imgs/carB.jpeg" alt="">
        <div class="title_tarif">
            <h4>Tarifs & Abonnement</h4>
        </div>
    </div>
    <div class="contain_taffs">
        <div class="contain-taff">
            <h1>Carte d'abonnement mensuel /</h1>
            <table>
                <tr>
                  <th>Destination</th>
                  <th>Tarif</th>
                </tr>
                <tr>
                  <td>Destination 1</td>
                  <td>10 €</td>
                </tr>
                <tr>
                  <td>Destination 2</td>
                  <td>15 €</td>
                </tr>
                <tr>
                  <td>Destination 3</td>
                  <td>20 €</td>
                </tr>
              </table>

              <div class="cont_texCard">
                <div class="tex_card">
                   <h4>Abonnement mensuel / annuel</h4>
                   <p>Toute personne de plus de 26 ans.
           
                       carte mensuelle : coupon à 50,00 € à acheter tous les mois chez les dépositaires.
                       carte annuelle : 500,00 € l’année.</p>
                </div>
                <div class="tex_card">
                   <h4>Abonnement mensuel / annuel</h4>
                   <p>Toute personne de plus de 26 ans.
           
                       carte mensuelle : coupon à 50,00 € à acheter tous les mois chez les dépositaires.
                       carte annuelle : 500,00 € l’année.</p>
                </div>
               </div>
       
              
             <br>
                 <table>
                   <tr>
                     <th>Destination</th>
                     <th>Tarif</th>
                   </tr>
                   <tr>
                     <td>Cars</td>
                     <td>10 €</td>
                   </tr>
                   <tr>
                     <td>Destination 2</td>
                     <td>15 €</td>
                   </tr>
                   <tr>
                     <td>Destination 3</td>
                     <td>20 €</td>
                   </tr>
                 </table>
        </div>
        
    </div>
   
</main>
<%- include("../views/patials/footer.ejs") %>
</body>
</html>