<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apropos</title>
    <link href="/assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/styles_personalises/headers.css" rel="stylesheet">
    <link href="/assets/styles_personalises/footer.css" rel="stylesheet">
    <link href="/assets/bootstrap/dist/css/apropos.css" rel="stylesheet" >
</head>
<body>
    <%- include("header.ejs") %>
    <main>
        <div class="contain_apropos">
            <img src="/images/imgs/carB.jpeg" alt="">
            <div class="title_apropos">
                <h4>A propos de <span>KamExpress</span></h4>
            </div>
        </div>
        <div class="n_Objectif">

        </div>
       
    </main>
    
    <%- include("footer.ejs") %>
    <script src="/assets/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>