<!-- <header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none"><span>KamExpress</span></a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 link-secondary">Accueil</a></li>
          <li><a href="/views/apropos.html" class="nav-link px-2 link-dark">A propos</a></li>
          <li><a href="/views/services.html" class="nav-link px-2 link-dark">Services</a></li>
          <li><a href="/views/contact.html" class="nav-link px-2 link-dark">Contact</a></li>
        </ul>

        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/images/avatar.png" alt="Photo de profil" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small text-center" aria-labelledby="dropdownUser1">
            <li><div class="text-center">
              <img src="/images/avatar.png" alt="Photo de profil" width="32" height="32" class="rounded-circle">
              <h4>Louis Musole</h4>
            </div></li>
            <li><a class="dropdown-item" href="/connexion">Déconnexion</a></li>
          </ul>
        </div>
      </div>
    </div>
</header> -->
<header>
  <nav class="navbar">
    <a href="/" class="nav-Logo">KamExpress</a>
    <ul class="nav-menu">
      <li class="nav-item">
        <a href="/" class="nav-link">Accueil</a>
      </li>
      <li class="nav-item">
        <a href="/apropos" class="nav-link">Apropos</a>
      </li>
      <li class="nav-item">
        <a href="/services" class="nav-link">Services</a>
      </li>
      <li class="nav-item">
        <a href="/contact" class="nav-link">Contact</a>
      </li>
      <li class="nav-item">
        <a href="/connexion.ejs" class="nav-link">Connexion</a>
      </li>
    </ul>

    <div class="menuBurger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </nav>
</header>