<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link href="/assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/styles_personalises/headers.css" rel="stylesheet">
    <link href="/assets/bootstrap/dist/css/accueil.css" rel="stylesheet">
    <link href="/assets/styles_personalises/footer.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   
</head>
<body>
    <%- include("../views/patials/header.ejs") %>
    <main>
       
       <div class="accueil">
        <div class="bgd_img">
            <img src="/images/imgs/carB.jpeg" alt="">
        </div>
        <div class="contain_1">
          <h2>La solution idéale pour vos sorties scolaires et événements</h2>
          <p>Contactez-nous dès aujourd'hui pour réserver votre véhicule</p>
          <a href="/contact" class="button">Réserver maintenant</a>
        </div>
       </div>
       <div class="descript">
         <h2>Nous offrons des solutions de transport sûres et confortables pour les sorties scolaires, les excursions et les voyages éducatifs.
        </h2> 
        <h4>Notre entreprise familiale et indépendante assure le transport de plusieurs millier de voyageurs, scolaires et événementiel.
        </h4>  
       </div>
      <section class="section_1">
       <div class="cartes">
            <div class="card">
                <img src="/images/imgs/sortie-étudiants.png" alt="">
                <span>Sorties scolaires</span>
                <div class="link_discover">
                    <a href="/services">Découvrir</a>
                </div>
            </div>
            <div class="card">
                <img src="images/imgs/even.jpeg" alt="">
                <span>Événements spéciaux</span>
                <div class="link_discover">
                    <a href="/services">Découvrir</a>
                </div>
            </div>
        </div>
        <div class="space_info">
            <img src="/images/imgs/IMP3.jpeg" alt="">
            <div class="descript_espace">
                <h4>
                  Que ce soit pour un mariage, un anniversaire ou tout autre événement spécial, nous avons le véhicule idéal pour vous.
                </h4>
            </div>
           
        </div>
      </section> 
      <section class="section_2">
        <div class="contain_setion2">
        <div class="descript_sect2">
            <h2>Location de cars et de mini </h2>
            <h4>Découvrez sur ce site tous nos services et lignes de transport de voyageurs.</h4>
        </div>
        <div class="cards_s">
          <div class="card">
            <img src="/images/imgs/busss.jpeg" alt="">
            <div class="card__content">
              <p class="card__title">Cars</p>
              <p class="card__description">Nos cars  sont équipés de sièges confortables, de climatisation et de commodités pour rendre votre voyage agréable.</p>
            </div>
          </div>
          <div class="card">
            <img src="/images/imgs/min_bus.jpeg" alt="">
            <div class="card__content">
              <p class="card__title">Minibus</p>
              <p class="card__description">Nos minibus sont parfaits pour les petits groupes et les sorties plus intimes</p>
            </div>
          </div>
          
        </div>
        
        
      </div>
      </section>

      <section class="section_4">
      <h2  class="text-eqpe"></h2>
        <div class="cards">
          <img src="/images/imgs/mathus.jpeg" alt="">
        </div>
        <div class="cards">
          <img src="/images/imgs/chaufer_eq.png" alt="">
        </div>
        <div class="cards">
          <img src="/images/imgs/informatiq_eq.jpeg" alt="">
        </div>
        <div class="partenaire">    
      </section>
      
    <!-- qqsddvvffgb -->
    <h2 class="text-center">Nos partenaires officiel</h2>
<div class="container">
  <div class="slid-er">
    <div class="slides" id="slides">
      <div class="slide">
        <div class="slide-content">
            <img src="/images/imgs/nan.png" loading="lazy" />
        </div>
      </div>
      <div class="slide">
        <div class="slide-content">
            <img src="/images/imgs/miss.jpeg" loading="lazy" />
        </div>
      </div>
      <div class="slide">
        <div class="slide-content">
            <img src="/images/imgs/images.png" loading="lazy" /> 
        </div>
      </div>
      <div class="slide">
        <div class="slide-content">
            <img src="/images/imgs/uv.jpeg" loading="lazy" />  
        </div>
      </div>
      <div class="slide">
        <div class="slide-content">
            <img src="/images/imgs/ucocody.jpeg" loading="lazy" />
        </div>
        
      </div>
     
  
<!-- ssdffgggb -->
    </main>

    <%- include("../views/patials/footer.ejs") %>
    <script src="/assets/bootstrap/dist/js/accueil.js"></script>
    <script src="/public/assets/bootstrap/dist/js/header.js"></script>
    <script src="/assets/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>