<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link href="/assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/styles_personalises/headers.css" rel="stylesheet">
    <link href="/assets/bootstrap/dist/css/accueil.css" rel="stylesheet">
    <link href="/assets/styles_personalises/footer.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   
</head>
<body>
    <%- include("header.ejs") %>
    <main>
       
       <div class="accueil">
        <div class="bgd_img">
            <img src="/images/imgs/carB.jpeg" alt="">
        </div>
        <div class="contain_1">
            <h1 class="myTes_1">Transport de sortie scolaire et Evénémentiel</h1>
            <h4>Deplacez-vous en toute sécurité en côte d'ivoire avec <span class="span_logo">KamExpress</span></h4>
        </div>
       </div>
       <div class="descript">
         <h2>Les cars de KamExpress sont un acteur majeur de l’offre de déplacement proposée à la population ivoirienne.
        </h2> 
        <h4>Notre entreprise familiale et indépendante assure le transport de plusieurs millier de voyageurs, scolaires et événementiel.
        </h4>  
       </div>
      <section class="section_1">
       <div class="cartes">
            <div class="card">
                <img src="/images/imgs/sortie-étudiants.png" alt="">
                <span>Transport de sortie scolaire</span>
                <div class="link_discover">
                    <a href="/services">Découvrir</a>
                </div>
            </div>
            <div class="card">
                <img src="images/imgs/even.jpeg" alt="">
                <span>Transport événementiel</span>
                <div class="link_discover">
                    <a href="/services">Découvrir</a>
                </div>
            </div>
        </div>
        <div class="space_info">
            <img src="/images/imgs/IMP3.jpeg" alt="">
            <div class="descript_espace">
                <h4>Nos cars circulent dans toutes les communes d’ abidjan,
                    dans le cadre de lignes régulières et scolaires, 
                   mais également pour des clients privés :
                    excursion scolaire, voyage organisé.
                   </h4>
            </div>
           
        </div>
      </section> 
      <section class="section_2">
        <div class="contain_setion2">
        <div class="descript_sect2">
            <h2>Location de cars et de mini </h2>
            <h4>Découvrez sur ce site tous nos services et lignes de transport de voyageurs.</h4>
        </div>
        <div class="cards_s">
          <div class="card">
            <img src="/images/imgs/busss.jpeg" alt="">
            <div class="card__content">
              <p class="card__title">Cars</p>
              <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            </div>
          </div>
          <div class="card">
            <img src="/images/imgs/min_bus.jpeg" alt="">
            <div class="card__content">
              <p class="card__title">Mini bus</p>
              <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            </div>
          </div>
          
        </div>
        
        
      </div>
      </section>

      <section class="section_4">
      <h2  class="text-eqpe"></h2>
        <div class="cards">
          <img src="/images/imgs/mathus.jpeg" alt="">
        </div>
        <div class="cards">
          <img src="/images/imgs/chaufer_eq.png" alt="">
        </div>
        <div class="cards">
          <img src="/images/imgs/informatiq_eq.jpeg" alt="">
        </div>
        <div class="partenaire">    
      </section>
      
    <!-- qqsddvvffgb -->
    <h2 class="text-center">Nos partenaires officiel</h2>
<div class="container">
  <div class="slid-er">
    <div class="slides" id="slides">
      <div class="slide">
        <div class="slide-content">
            <img src="/images/imgs/nan.png" loading="lazy" />
        </div>
      </div>
      <div class="slide">
        <div class="slide-content">
            <img src="/images/imgs/miss.jpeg" loading="lazy" />
        </div>
      </div>
      <div class="slide">
        <div class="slide-content">
            <img src="/images/imgs/images.png" loading="lazy" /> 
        </div>
      </div>
      <div class="slide">
        <div class="slide-content">
            <img src="/images/imgs/uv.jpeg" loading="lazy" />  
        </div>
      </div>
      <div class="slide">
        <div class="slide-content">
            <img src="/images/imgs/ucocody.jpeg" loading="lazy" />
        </div>
        
      </div>
     
    <!--Mirror content -->   
      <!--  <div class="slide">
        <div class="slide-content">
            <img src="https://i.pinimg.com/originals/e2/16/b0/e216b0f9c1cda3f4b5cdf44fee26060d.jpg" loading="lazy" />
            <div class="button-container">
              <span class="button">Download</span>
            </div>
          </a>
        </div>
      </div>
      <div class="slide">
        <div class="slide-content">
            <img src="https://i.pinimg.com/originals/fd/d7/cc/fdd7ccccc4b74cea4f15ba1702ef8813.jpg" loading="lazy" />
            <div class="button-container">
              <span class="button">Download</span>
            </div>
          </a>
        </div>
      </div>
      <div class="slide">
        <div class="slide-content">
            <img src="https://i.pinimg.com/originals/fb/4a/d5/fb4ad589b0cefbc990524e03e7e39eef.jpg" loading="lazy" />
            <div class="button-container">
              <span class="button">Download</span>
            </div>
          </a>
        </div>
      </div> -->
      <!-- <div class="slide">
        <div class="slide-content">
            <img src="https://i.pinimg.com/originals/84/2e/46/842e46400117c1c04a19591d28fd8c18.png" loading="lazy" />
            <div class="button-container">
              <span class="button">Download</span>
            </div>
          </a>
        </div>
      </div> -->
      <!-- <div class="slide">
        <div class="slide-content">
          <a href="https://www.pinterest.com/pin/amelie-poulain-audrey-tautou--407857309977538667/" target="_blank">
            <img src="https://i.pinimg.com/236x/46/a6/3e/46a63ed5171192f262780b550ca1ca62--chez-elle-audrey-tautou.jpg" loading="lazy" />
            <div class="button-container">
              <span class="button">Download</span>
            </div>
          </a>
        </div>
      </div> -->
      <!-- <div class="slide">
        <div class="slide-content">
          <a href="https://www.pinterest.com/pin/703617141757346153/?mt=login" target="_blank">
            <img src="https://i.pinimg.com/236x/5f/b4/d0/5fb4d05431e64e17fa8d7ae3040657f3.jpg" loading="lazy" />
            <div class="button-container">
              <span class="button">Download</span>
            </div>
          </a>
        </div>
      </div> -->
      <!-- <div class="slide">
        <div class="slide-content">
          <a href="https://www.pinterest.com/pin/307933693249401885/" target="_blank">
            <img src="https://i.pinimg.com/originals/cc/c7/3d/ccc73d8fba861806354424eab2e620cc.jpg" loading="lazy" />
            <div class="button-container">
              <span class="button">Download</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ssdffgggb -->
    </main>

    <%- include("footer.ejs") %>
    <script src="/assets/bootstrap/dist/js/accueil.js"></script>
    <script src="/public/assets/bootstrap/dist/js/header.js"></script>
    <script src="/assets/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>