<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link href="/assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/styles_personalises/headers.css" rel="stylesheet">
    <link href="/assets/bootstrap/dist/css/accueil.css" rel="stylesheet">
    
    
</head>
<body>
    
    <main>
        <%- include("header.html") %>
       <div class="accueil">
        <div class="contain_1">
            <h1 class="myTes_1">Ligne régulières et transport scolaire </h1>
            <h4>Deplacez-vous en toute sécurité en côte d'ivoire avec <span class="span_logo">KamExpress</span></h4>
        </div>
       </div>   


    </main>

    <%- include("footer.html") %>

    <script src="/assets/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>