<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>services</title>
  <link  href="/assets/bootstrap/dist/css/services.css" rel="stylesheet">
  <link href="/assets/styles_personalises/headers.css" rel="stylesheet">
  <link href="/assets/styles_personalises/footer.css" rel="stylesheet">
</head>
<body>
  <%- include("header.ejs") %>

   <main>
     <div class="main-ap">
      <img src="/images/imgs/carB.jpeg" alt="">
      <div class="titre_s">
        <h4> Nos services</h4>
       </div>
      </div>
      <div class="">
        <h1>Location de car pour sortie scolaire à Abidjan</h1>
        <p>Evénement incontournable pour les écoles primaires comme les collèges, lycées et étudiants la sortie scolaire nécessite le transport simultané et sécurisé de plusieurs dizaines d’élèves. Notre service de location de car avec chauffeur répond à ce besoin !

        </p>
      </div>
     <!-- html carousel -->
     <div class="cardres">
     <div class="card">
      <div class="img">
        <img src="/images/imgs/cathedrale-saint-paul-dabidjan-bfca886d-078a-425e-b0ae-a84262bcc8d0-424x280.jpg" alt="">
      </div>
      <div class="textBox">
        <div class="textContent">
          <p class="h1">Transport vers tous les lieux désirés</p>
        </div>
        <p class="p">nombre d’élèves à transporter (nos cars disposent de capacités allant de 19 à 69 places),
          date de l’excursion,
          lieu de départ et destination (selon la durée du trajet, différents éléments de confort pourront vous être proposés dans le véhicule).
           </p>
      <div>
    </div></div></div>
    <div class="card">
      <div class="img">
        <img src="/images/imgs/Musee_civilisations_Abidjan-424x280.jpg" alt="">
      </div>
      <div class="textBox">
        <div class="textContent">
          <p class="h1">Musée des civilisations de côte d'ivoire</p>
        </div>
        <p class="p">  C’est la meilleure façon de vous imprégner de l’Histoire multidimensionnelle du pays ! Le musée des civilisations est en effet une destination incontournable à Abidjan pour tous ceux et toutes celles qui voudraient faire connaissance avec les anciennes civilisations qui de la capitale. Le musée des civilisations dispose d’un fonds 
          muséographique riche et varié estimé ….
           </p>
      <div>
    </div></div></div>
    <div class="card">
      <div class="img">
        <img src="/images/imgs/zoo-abidjan-424x280.jpg" alt="">
      </div>
      <div class="textBox">
        <div class="textContent">
          <p class="h1">Musée des civilisations de côte d'ivoire</p>
        </div>
        <p class="p">  C’est la meilleure façon de vous imprégner de l’Histoire multidimensionnelle du pays ! Le musée des civilisations est en effet une destination incontournable à Abidjan pour tous ceux et toutes celles qui voudraient faire connaissance avec les anciennes civilisations qui de la capitale. Le musée des civilisations dispose d’un fonds 
          muséographique riche et varié estimé ….
           </p>
      <div>
    </div></div></div>
    <div class="card">
      <div class="img">
        <img src="/images/imgs/zoo-abidjan-424x280.jpg" alt="">
      </div>
      <div class="textBox">
        <div class="textContent">
          <p class="h1">Musée des civilisations de côte d'ivoire</p>
        </div>
        <p class="p">  C’est la meilleure façon de vous imprégner de l’Histoire multidimensionnelle du pays ! Le musée des civilisations est en effet une destination incontournable à Abidjan pour tous ceux et toutes celles qui voudraient faire connaissance avec les anciennes civilisations qui de la capitale. Le musée des civilisations dispose d’un fonds 
          muséographique riche et varié estimé ….
           </p>
      <div>
    </div></div></div>
  </div> 
  <div class="card">
    <div class="img">
      <img src="/images/imgs/FEMUA-Festival-des-Musiques-Urbaines-dAnoumabo-11.jpeg" alt="">
    </div>
    <div class="textBox">
      <div class="textContent">
        <p class="h1">Musée des civilisations de côte d'ivoire</p>
      </div>
      <p class="p">  C’est la meilleure façon de vous imprégner de l’Histoire multidimensionnelle du pays ! Le musée des civilisations est en effet une destination incontournable à Abidjan pour tous ceux et toutes celles qui voudraient faire connaissance avec les anciennes civilisations qui de la capitale. Le musée des civilisations dispose d’un fonds 
        muséographique riche et varié estimé ….
         </p>
    <div>
  </div></div></div>
    </div></div></div>
    <div>
      <p>Nos conducteurs mèneront vos élèves, en toute sécurité, 
        vers les nombreux sites d’intérêt du Finistère et de Bretagne, sur le littoral (pour une escapade sur l’île de Batz par exemple) comme en centre-ville (visite de musée à Brest, Landerneau…) ou dans la campagne (découverte du château de Kerjean ou de Trévarez, balade à l’abbaye de Daoulas…).</p>
    </div>

    <!-- html carousel -->
    

   </main>


  <%- include("footer.ejs") %>
</body>
</html>